.account {
  display: flex !important;

  &.-header {
    justify-content: center;
    width: 16rem;
  }

  .account_avatar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    canvas {
      display: block;
    }

    .account_avatar_loading {
      width: 100%;
      height: 100%;
    }
  }

  .account_information {
    padding-left: 0.325rem; /* gap from avatar */
  }

  .account_change_blockies {
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }

  .account_name {
    color: $black;
    font-weight: 500;
    overflow: hidden;
    padding-bottom: 0.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 210px;

    /**
     * Information component when used with components
     * in the header requires more bottom margin than
     * where it is used in the AccountList component
     */
    &.-header {
      font-size: 0.95rem;
      margin-top: 0.2rem;
      padding-bottom: 0.3rem;
    }
  }

  .account_address {
    font-family: $mono;
    color: $grey;
    font-size: ms(-2);
    line-height: ms(-2) * 1.3;
    user-select: text;

    /* Narrow address and ensure it all fits */
    &.-narrow {
      -webkit-transform: scale(0.95, 1.0);
      -moz-transform: scale(0.95, 1.0);
      -ms-transform: scale(0.95, 1.0);
      -o-transform: scale(0.95, 1.0);
      transform: scale(0.95, 1.0);

      -webkit-transform-origin-x: 0;
      -moz-transform-origin-x: 0;
      -ms-transform-origin-x: 0;
      -o-transform-origin-x: 0;
    }
  }
}
