.wrapper {
  position: relative;
}

.menu {
  background: $faint;
  border-radius: 4px;
  padding: 5px 15px 5px 0px;
  position: absolute;
  right: 37px;
  top: 14px;
  z-index: 3;
}

.menu-item {
  clear: both;
  display: block;
}

.account {
  display: flex;

  &.-header {
    .account_address {
      font-size: 0.7rem;
    }
  }

  .account_avatar {
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    canvas {
      display: block;
      height: (ms(0) * 1.3) + 1rem !important;
      width: auto !important;
    }

    .account_avatar_loading {
      width: 100%;
      height: 100%;
    }
  }

  .account_information {
    padding-left: 0.325rem;
    overflow: hidden;
    flex-grow: 1;
  }

  .account_change_blockies {
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }

  .account_name {
    color: $black;
    font-weight: 500;
    margin-bottom: 0.1rem;
  }

  .account_address {
    font-family: $mono;
    color: $grey;
    font-size: ms(-2);
    line-height: ms(-2) * 1.3;
    user-select: text;
  }
}
