.wrapper {
  position: relative;
}

.menu-close {
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  display: none; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; /* Stack over must be higher than z-index of .header-nav */
  cursor: pointer;
}

.menu {
  background: $eggshell;
  border: 0px solid $eggshell;
  border-radius: 4px;
  box-shadow: 0 0.250rem 0.5rem rgba($black, 0.300);
  position: absolute;
  display: none; /* Hidden by default */
  padding: 5px 15px 5px 0px;
  top: 44px;
  right: 8px;
  z-index: 11;

  &:hover {
    border-color: $blue;
    box-shadow: 0 0.250rem 0.675rem rgba($black, 0.400);
    cursor: pointer;
  }
}

.menu-item {
  clear: both;
  display: block;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 500;
  padding: 0 0 0 0.925rem;
  line-height: 2;
  opacity: 0.8;

  &:hover {
    opacity: 0.625;
    background-color: transparent;
  }
}

.account {
  display: flex;

  &.-header {
    .account_address {
      font-size: 0.7rem;
    }
  }

  .account_avatar {
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    canvas {
      display: block;
      height: (ms(0) * 1.3) + 1rem !important;
      width: auto !important;
    }

    .account_avatar_loading {
      width: 100%;
      height: 100%;
    }
  }

  .account_information {
    padding-left: 0.325rem;
    overflow: hidden;
    flex-grow: 1;
  }

  .account_change_blockies {
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }

  .account_name {
    color: $black;
    font-weight: 500;
    margin-bottom: 0.1rem;
  }

  .account_address {
    font-family: $mono;
    color: $grey;
    font-size: ms(-2);
    line-height: ms(-2) * 1.3;
    user-select: text;
  }
}
