.error-import-account {
    color: red;
    font-size: ms(0);
    margin-top: 0.25rem;
    text-align: center;
}

.recover-from-seed-phrase {
    .form_field textarea {
        height: 2.5rem;
    }
}
