.form-nav {
  position: relative;
  padding-top: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;

  &.-binary {
    justify-content: space-between;
  }

  &.-space-around {
    justify-content: space-around;
  }

  .form-details-buttons {
    position: absolute;
    left: 1rem;

    .toggle-details > a {
      color: $dark-grey;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}
