.popup-menu-account {
  /* Override SUI popup styles so popup does not appear above menu icon */
  background: $white !important;
  bottom: auto !important;
  line-height: 2rem !important;
  max-width: 205px !important; /* Allow space between items and scrollbar */
  max-height: 220px;
  padding: 0.5rem 0.7rem !important;
  top: 3px !important;

  .popup-screen {
    max-height: 195px;
    overflow-y: auto;
  }

  .popup-screen_item {
    color: $dark-grey;
    font-size: 1em;
    font-weight: 500;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 15px;

    &:hover {
      background-color: $chrome;
      color: $black;
      cursor: pointer;
    }
  }
}