.terms-and-conditions-wrapper {
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem rgba($black, 0.125);
}

.terms-and-conditions {
  height: 20rem; /* Different impact on taskbar app */
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0.75rem;
  padding-left: 0.5rem;

  * {
    user-select: text;
  }

  p,
  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
  }

  ul,
  ol {
    list-style: initial;
    margin-left: 2rem;
  }
}
