.account {
  display: flex;

  .account_avatar {
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    canvas {
      display: block;
      height: (ms(0) * 1.3) + 1rem  !important;
      width: auto !important;
    }
  }

  .account_information {
    padding-left: 0.325rem;
    overflow: hidden;
    flex-grow: 1;
  }

  .account_name {
    color: $black;
    font-weight: 500;
  }

  .account_address {
    font-family: $mono;
    color: $grey;
    font-size: ms(-2);
    line-height: ms(-2) * 1.3;
  }

  &.-placeholder {
    .account_avatar_placeholder, .account_name_placeholder, .account_address_placeholder {
      background: rgba($faint,0.5);
    }

    .account_avatar_placeholder {
      width: (ms(0) * 1.3) + 1rem;
      height: (ms(0) * 1.3) + 1rem;
    }

    .account_name_placeholder {
      width: 100%;
      height: ms(0) * 1.2;
      margin-bottom: 0.325rem;
    }

    .account_address_placeholder {
      width: 100%;
      height: ms(-2) * 1.1;
    }
  }
}
