.text {
  p,
  blockquote {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.-fade {
    animation: fade 1s 1s forwards;
  }

  &.-standard {
    margin: 1rem 0;
  }

  &.-centered {
    text-align: center;
  }

  &.-right {
    text-align: right;
  }

  &.-space-around {
    padding: 1rem 1rem;
  }

  &.-tiny {
    font-size: ms(-2);
  }

  &.-fixed {
    font-family: $mono;
    font-size: ms(-1);
  }

  &.-underline {
    text-decoration: underline;
  }

  strong {
    font-weight: 500;
  }

  &.-code {
    user-select: text;
    font-family: $mono;
    padding: 0.5rem;
    background: rgba($faint, 0.25);
    color: $black;
    margin: 0.5rem 0;
    font-size: ms(-1);
    border-radius: 0.25rem;
    word-wrap: break-word;
  }
}

@keyframes fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.span {
  &.-placeholder {
    color: $faint;
  }
}
