.balance {
  .balance_value {
    display: block;
  }
  .balance_label {
    display: block;
    font-family: $sans;
    font-weight: 500;
    font-size: ms(-2);
    line-height: ms(0);
    text-transform: uppercase;
  }
}
