.debug-nav {
  background-color: rgba($black,0.325);
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  a, a:link, a:visited {
    color: $white;
    display: block;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: rgba($black,0.325);
    }
  }
}
