.primary-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.25rem;

  a, a:link, a:visited {
    text-transform: uppercase;
    font-size: ms(-2);
    color: rgba($white,0.675);
    font-weight: 500;
    padding: 0 0.5rem;
    display: block;
    &:hover {
      color: $white;
      border-radius: 0.25rem;
    }

    &.icon {
      padding: 0;
      width: ms(0) * 1.3;
      height: ms(0) * 1.3;
      text-indent: -9999rem;
      background-size: ms(0) auto;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.675;
      margin-left: 0.25rem;
      &:hover {
        opacity: 1;
      }

      &.-receive {
        background-image: url('/receive.svg');
      }

      &.-settings {
        background-image: url('/gear.svg');
      }
    }
  }
}
