.primary-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.25rem;

  a, a:link, a:visited {
    text-transform: uppercase;
    font-size: ms(-2);
    color: $white;
    font-weight: 500;
    padding: 0 0.5rem;
    display: block;
    &:hover {
      background: rgba(0,0,0,0.25);
      border-radius: 0.25rem;
    }
  }
}
