.token {
  display: flex;
  padding: 1rem;
  user-select: none;

  &:hover {
    cursor: default;
  }

  .token_icon {
    margin: -0.5rem 0 -0.5rem -0.425rem;
    border-radius: ((ms(0) * 1.3) + 1rem) * 0.5;
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    background-color: $faint;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
      height: (ms(0) * 1.3);
      width: auto;
    }
  }

  .token_name {
    padding-left: 0.5rem;
    flex-grow: 1;
    color: $black;
    font-weight: 500;
  }

  .token_balance {
    font-family: $mono;
    color: $grey;
  }
}
