.content {
  // TODO: abstract this out
  overflow: visible;
  max-width: 22rem;
  margin: 0 auto;

  .connector {
    height: 0.5rem;
    display: flex;
    justify-content: center;

    &.-top {
      margin-bottom: -1px;
    }

    svg {
      height: 0.5rem;
      width: auto;
      polygon {
        fill: $chrome;
      }
    }
  }

  .window {
    background: $chrome;
    border-radius: 0.25rem;
    min-height: 15rem;
//    overflow: hidden;
    position: relative;
    // box-shadow: 0 0.125rem 0.75rem rgba($black, 0.175),
    //   0 0.125rem 0.125rem rgba($black, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .window_content {
      min-height: 7.5rem;
    }
  }
}
