.content {
  // TODO: abstract this out
  overflow: visible;
  max-width: 22rem;
  margin: 0 auto;

  .connector {
    height: 0.5rem;
    display: flex;
    justify-content: center;

    &.-top {
      margin-bottom: -1px;
    }

    svg {
      height: 0.5rem;
      width: auto;
      polygon {
        fill: $chrome;
      }
    }
  }

  .window {
    background: $chrome;
    border-radius: 0.25rem;
    min-height: 15rem;
    position: relative;

    .window_content {
      min-height: 7.5rem;
    }
  }
}

.window {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
