$mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Site colours

$eggshell: #fff;
$white: #f9f9f9;
$chrome: #F5F6F6;
$faint: #ddd;
$black: #222;
$grey: #888;

$purple: #330044;
$blue: #160DF6;
$green: #3ec28f;
$yellow: #DFCA29;
$red: #C2473E;

// Modular Scale

$ms-base: 1rem;
$ms-ratio: $minor-third;
