.wrapper[role='layout'] {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  .content {
    overflow: visible;
    max-width: 24rem;
    background: $purple;
    padding: 0.25rem;
    margin: 0 auto;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba($black,0.25);
  }
}
