.debug-nav {
  background-color: rgba($black,0.125);
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;

  a,
  a:link,
  a:visited {
    color: $white;
    display: block;
    padding: 0.5rem 1rem;
    &:hover {
      cursor: pointer;
      background-color: rgba($black,0.125);
    }
  }
}
