.footer-nav {
  display: flex;
  justify-content: space-between;

  .footer-nav_status {
    padding: 1rem;
    font-size: ms(-2);
    color: $grey;
  }

  .footer-nav_icons {
    padding: 1rem;
  }

  a,
  a:link,
  a:visited {
    display: block;
    margin: -0.175rem 0 -0.175rem;
    padding: 0.25rem 0.5rem 0.175rem;
    border-radius: 0.25rem;
    &:hover {
      background: rgba($faint,0.5);
      color: $black;
    }

    &.icon {
      width: ms(0) * 1.3 + 0.5rem;
      height: ms(0) * 1.3 + 0.5rem;
      text-indent: -9999rem;
      background-size: ms(0) auto;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.675;
      &:hover {
        opacity: 1;
      }

      &.-receive {
        background-image: url('../assets/img/icons/receive.svg');
      }

      &.-settings {
        background-image: url('../assets/img/icons/gear.svg');
      }
    }
  }
}
