.token {
  user-select: none;
  display: flex;

  &.-header {
    padding: 0 0 0.5rem;
  }

  .token_icon {
    margin: -0.5rem 0 -0.5rem -0.425rem;
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
      height: (ms(0) * 1.3);
      width: auto;
    }
  }

  .token_name {
    padding-left: 0.325rem;
    flex-grow: 1;
    color: $black;
    font-weight: 500;
  }

  .token_balance {
    font-family: $mono;
    color: $grey;
  }

  .token_symbol {
    font-size: ms(-2);
    &:before {
      content: ' ';
    }
  }
}
