.token {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  .token_icon {
    width: (ms(0) * 1.3) + 1rem;
    height: (ms(0) * 1.3) + 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
      display: block;
      margin: 0;
      height: (ms(0) * 1.3);
      width: auto;
    }
  }

  .token_name {
    padding-left: 0.325rem;
    height: ms(0) * 1.3;
    flex-grow: 1;
    color: $black;
    font-weight: 500;
  }

  .token_balance {
    font-family: $mono;
    color: $grey;
    height: ms(0) * 1.3;
  }

  .token_symbol {
    height: ms(0) * 1.3;
    font-size: ms(-2);
    &:before {
      content: ' ';
    }
  }
}
