.box {
  display: block;

  &.-card {
    background: $white;
    color: $grey;
    box-shadow: 0 0.125rem 0.125rem rgba($black,0.5);
    border-radius: 2px;

    strong {
      color: $black;
    }
  }

  &.-padded {
    padding: 1rem;
  }

  &.-stacked {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
