.box {
  display: block;

  &.-card {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: $eggshell;
    box-shadow: 0 0.125rem 0.5rem rgba($black,0.125);
    &.-clickable {
      transition: box-shadow ease 0.125s;
      &:hover {
        box-shadow: 0 0.125rem 0.675rem rgba($black,0.175);
        cursor: default;
      }
      &:active {
        box-shadow: 0 0.125rem 0.325rem rgba($black,0.175);
        cursor: default;
      }
    }
  }

  &.-well {
  }

  &.-scroller {
    max-height: 22rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.-padded {
    padding: 0.5rem;
  }

  &.-modal {
  }

  &.-stacked {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
