.box {
  display: block;

  &.-scroller {
    max-height: 22rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.-padded {
    padding: 1rem;
  }

  &.-stacked {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
