button {
  color: $white;
  background-color: $green;
  border-radius: 3px;
  border: none;
  font-size: ms(0);
  line-height: 1.3;
  padding: 0.25rem 0.675rem 0.325rem;
  &:active {
    background-color: darken($green,2.5%)
  }

  &.-small {
    font-weight: 500;
    font-size: ms(-2);
    padding: 0.125rem 0.25rem 0.175rem;
    background-color: $faint;
    color: rgba($black,0.75);
    &:active {
      background-color: darken($faint,2.5%)
    }
  }
}
