.form_field {
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  background: rgba($faint,0.25);

  label {
    font-size: ms(-3);
    font-weight: 600;
    color: $black;
    opacity: 0.75;
    padding: 0.5rem 0.5rem 0;
  }

  input {
    border: 0;
    background: transparent;
    font-size: ms(0);
    font-weight: 400;
    font-family: $sans;
    line-height: ms(0) * 1.3;
    width: 100%;
    opacity: 0.75;
    padding: 0.5rem;
    margin-top: -0.25rem;
    &:focus {
      opacity: 1;
    }
  }
}
