.text {
  p, ul, ol, blockquote {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.-centered {
    text-align: center;
  }

  &.-right {
    text-align: right;
  }

  &.-fixed {
    font-family: $mono;
    font-size: ms(-1);
  }

  strong {
    font-weight: 500;
  }

  &.-code {
    user-select: text;
    font-family: $mono;
    padding: 0.5rem;
    background: rgba($faint,0.25);
    color: $black;
    margin: 0.5rem 0;
    font-size: ms(-1);
    border-radius: 0.25rem;
  }
}

.span {
  &.-placeholder {
    color: $faint;
  }
}
